/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Fondo negro global */
    color: white;
    text-align: center;
    scroll-behavior: smooth; /* Desplazamiento suave */
    overflow-x: hidden;
}

/* Sección de inicio */
.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mi-amor {
    font-size: 100px;
    color: yellow;
    text-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
    animation: parpadeo 1.5s infinite alternate;
}

@keyframes parpadeo {
    0% { opacity: 1; }
    100% { opacity: 0.7; }
}

.boton {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
    transition: transform 0.3s ease;
}

.boton:hover {
    transform: scale(1.1);
}

/* Sección de la imagen de la flor */
.imagen-flor {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Fondo negro */
}

.imagen-flor img {
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
