/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth; /* Deslizar suave */
    background-color: #000; /* Fondo negro global */
    color: white;
    text-align: center;
}

/* Sección de la página de inicio */
.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fondo negro para la sección de inicio */
}

/* Estilo del título */
.titulo {
    font-size: 5rem;
    color: #FFD700; /* Color amarillo neón */
    text-shadow: 0 0 20px #FFD700, 0 0 40px #FFEC8B, 0 0 60px #FFFF00;
    animation: brillar 2s infinite alternate;
}

/* Animación del brillo del título */
@keyframes brillar {
    0% {
        text-shadow: 0 0 20px #FFD700, 0 0 40px #FFEC8B, 0 0 60px #FFFF00;
    }
    100% {
        text-shadow: 0 0 40px #FFD700, 0 0 80px #FFEC8B, 0 0 100px #FFFF00;
    }
}

/* Estilo del botón */
.boton {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #ff9900;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
    box-shadow: 0 4px 15px rgba(255, 153, 0, 0.5);
}

/* Efecto hover en el botón */
.boton:hover {
    background-color: #cc7a00;
    transform: scale(1.05);
}

/* Sección de la imagen de la flor */
.imagen-flor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Fondo negro para la sección de la flor */
}

.imagen-flor img {
    max-width: 90%;
    height
